/* DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

body{
    transition: background 1s ease-in-out, color 1s ease-in-out;
    overflow-x: hidden;
    min-height: 100vh;
}

/* HAMBURGER MENU */

#menu-icon{
    display: none;
}

/* DARK/LIGHT MODE SWITCH */

.toggle-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #007aa5;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 3.2%;
    left: 92%;
}

.toggle-btn img{
    width: 18px;
    margin-left: 0.6em;
}

.dark-theme{
    background-color: #2A3B49;
    color: #fff;
}

/* THE HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25em;
    background-color: #2A3B49;
    height: 81px;
}

#logo-text {
    color: #fff;
    font-size: 2.25rem;
    
}

.right-header-btns {
    display: flex;
    align-items: center;
    width: 25%;
    gap: 25px;
}

/* Home Page */

.home-page {
    position: relative;
}

.home-page img {
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
}

.paragraph-container {
    position: absolute;
    background: #2A3B49;
    border-radius: 100px 100px 100px 0;
    padding: 2em;
    width: 48%;
    top: 58%;
}

.paragraph-container p {
    font-size: 1.5rem;
    line-height: 1.4em;
    text-align: center;
    color: white;
}

/* SUBMISSIONS PAGE - IMAGES */


/* MAIN CONTENT */

.current-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-image-name {
    margin: .5em 0;
    text-align: center;
    font-size: 2.25rem;
    font-weight: lighter;
}

.current-image-info h1{
    font-size: 2.25rem;
    line-height: 2.75em;
   
}

.current-image-info{
    padding: 0 0 1em 0;
    text-align: center;
}

.current-image img {
    border-radius: 4px;
    width: 1120px;
    height: 582px;
    box-shadow: 0 2px 5px -3px rgba(0,0,0,0.5);
}

#images-number{
    font-size: 1.4rem;
    margin-top: 1em;
}

/* PREVIOUS/NEXT BUTTONS */

.sliderImages {
    text-align: center;
    margin: 0 1.9em 5.6em 0;
}

#prv-btn, #next-btn {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5em;
    background-color: #2A3B49;
    color: #7BFFE9;
    padding: 0.3em 1.25em;
    border-radius: 12px;
    border: 1px solid grey;
    margin: 0 1.25em;
}


.main-container {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}

.submissions {
    width: 70%;
}

.submissions h1 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 1.25em;
}

.cards-image {
    border-radius: 8px;
    width: 500px;
    height: 300px;
}

.cards-info{
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    color:white;
    background-color: rgb(53, 50, 50);
}

#see-more-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 1rem;
    color: black;
}

body.dark-theme #see-more-btn {
    color: white;
  }

/* SUBMISSIONS PAGE - FORM  */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2A3B49;
    border-radius: 8px;
    padding: 1em;
    width: 28%;
    height: 80%;
    margin: 4.4em 2em 0 2em;
    color: white;
}

form input{
    border-radius: 8px;
    border: 1px solid gray;
    padding: 0.5em 1em;
    width: 100%;
}

.input-container {
    margin-top: 1.25em;
    width: 100%;
    text-align: center;
    
}

#submit-btn3{
    background-color: #7BFFE9;
    color: black;
    font-size: 1.25rem;
    padding: 0.6em 3.1em;
    border-radius: 20px;
    margin-top: 2.5em;
    cursor: pointer;
}

#submit-btn3:hover{
    background-color: #5ec8b6;
}

/* ABOUT US PAGE*/

.main-page h1 {
    text-align: center;
    font-size: 2.25rem;
    padding: 1em 0;
}

#welcome-text {
    text-align: center;
    padding: 10px 50px;
    font-size: 1.25rem;
    line-height: 1.5em;
}


.left-side-text p {
    font-size: 1.25rem;
    line-height: 1.5em;
    padding-bottom: 2.5em;
}

#submit-button2 {
    padding: .5em 2em;
    font-size: 1.5rem;
    text-align: center;
    background: #2A3B49;
    border: 2px solid #7BFFE9;
    color: #7BFFE9;
    border-radius: 50px;
    margin-top: 1.9rem;
    cursor: pointer;
}

.text-image-container {
    display: flex;
    margin: 4.4em 3.4em;
    gap: 50px;
}

.text-image-container img {
  border-radius: 10px;
}

/* SEE MORE IMAGES PAGE */

/* TABLET-LAYOUT */

@media (max-width: 768px){

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em 1.25em;
        background-color: #2A3B49;
    }

    #logo-text {
        width: 90%;
        text-align: center;
    }

    #icon-container{
        display: flex;
    
    }

    #menu-icon {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.9rem;
        color: white;
        cursor: pointer;
        margin-bottom: 0.6em;
    } 

    .current-image img{
        width: 90%;
        height: 90%;
     }

    .main-container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .submissions{
        margin-top: 2.5em;
        width: 100%;
    }

    #cards-container{
        width: 100%;
    }

    .cards-image{
        width: 345px;
        height: 250px;
    }

    form{
        width: 80%;
        align-self: center;
        margin: 2.4em 2em 0 2em;
    }

    .input-container input{
        width: 100%;
    }


    .text-image-container {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .text-image-container img{
        width: 650px;
        height: 600px;
    }

    .right-header-btns{
        display: none;
    }

    #deadline-text{
        text-align: center;
    }

    #submit-button2 {
        width: 40%;
        margin: 0 8em;
        height: 60px;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.9em 1.25em;
        gap: 35px;
        width: 97%;
    }

    .paragraph-container {
        position: absolute;
        background: #2A3B49;
        border-radius: 100px 100px 100px 0px;
        padding: 1em 2em;
        width: 60%;
        top: 61%;
    }

    .paragraph-container p {
        font-size: 1.1rem;
        line-height: 1.25em;
        text-align: center;
        color: white;
        
    }

    .home-page{
        margin: 0;
    }

    .home-page img{
        width: 100%;
        height: 100vh;

    }

    .mobile-menu button {
        width: 50%;
        margin: 5px 0;
    }

    #toggle {
        width: 23%;
        height: 27%;
    }

    .toggle-btn{
        top: 3.5%;
        left: 85%;
    }
}

/* MOBILE LAYOUT */

@media (max-width: 426px){

    .toggle-btn{
        top: 20px;
        left: 286px;
        height: 35px;
        width: 85px;
    }

    .toggle-btn img{
        width: 18%;
    }

    #logo-text{
        line-height: 1.2em;
    }

    #cards-container{
        grid-template-columns: 1fr;
    }

    .cards-image, .cards-info{
        width: 350px;
    }

    #see-more-btn {
        float: left;
    }

    .paragraph-container{
        top: 350px;
        width: 80%;
        padding: 1em 2em;
    }

    .paragraph-container p{
        font-size: .8em;
    }

    .main-page img{
        width: 100%;
    }

    .text-image-container{
        margin: 3em 1.5em;
    }

    #submit-button2{
        font-size: 1em;
        margin: 0;
        width: 100%;
    }

    .submissions {
        width: fit-content;
    }

    #cards-container {
        padding: 0;
        margin: 0 1em;
    }
}

/* LAYOUT FOR SCREENS BIGGER THAN 1024PX */

@media (min-width: 1024px){

    .paragraph-container{
        top: 54.5%;
    }

    .right-header-btns{
        width: 23%;
        gap: 20px;
    }

    #submit-button2{
        font-size: 1.5rem;
    }

    .cards-info{
        width: 500px;
    }

    #see-more-btn{
        width: 80px;
    }

}